body {
    background-image: url("./IMG/mainBackground.png");
    background-size: cover;
}

.playingCard , button , .sidebarLog {
  width: 200px;
  float: left;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5px;
}

#player , #enemy , button , .sidebarLog {
  margin-right: 40px;
}

.sidebarLog {
  width: 600px;
}

.sidebarLog div {
  padding: 5px;
}

.sidebarLog div:first-child {
  background-color: #ffaaaa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sidebarLog div:nth-child(even) {
  background-color: #aaaaaa;
}

.playingCard img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #000000;
}

.hidden {
    visibility: hidden;
    display: none;
}

.active {
  background-color: #ff0000;
}

.clearBoth {
  clear: both;
}

.row {
  margin: 0px;
}

.col-md-6 , .col-md-12 {
  border-radius: 10px;
  border: 1px solid #000000;
}
