body {
    background-image: url("./IMG/mainBackground.png");
    background-size: cover;
}

.playingCard {
  width: 200px;
  float: left;
  background-color: #ffffff;
  border-radius: 10px;
}

.playingCard img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #000000;
}

.hidden {
    visibility: hidden;
    display: none;
}

.active {
  background-color: #ff0000;
}

.clearBoth {
  clear: both;
}

.row {
  margin: 0px;
}

.cardName , .cardFunc , .cardVar1 , .cardCost {
  border-radius: 10px;
  border: 1px solid #000000;
}
