body {
    background-color: #7FDBFF;
}

.background {
    background-image: url('./img/mainBackground.png');
}

.jumbotron {
    text-align: center;
    background-color: #7FDBFF;
}

.hidden {
    visibility: hidden;
}