body {
    background-image: url("./IMG/mainBackground.png");
    background-size: cover;
}

.card {
  width: 100px;
  float: left;
}

.card img {
  width: 100%;
  height: 100%;
}

.hidden {
    visibility: hidden;
    display: none;
}

.active {
  background-color: #ff0000;
}
